doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title=title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/vendor.css')

    style.
      .logo{
        max-width: 150px;
        margin: 5px;
        display: inline-block
      }

  body
    
    div.container
      h4 Hi
      

    script(data-main='js/main' src='/js/vendor/require.js')